.nikua {
  background-color: #0088fe;
  width: 10%;
  padding: 4px 8px;
  text-align: center;
  border-radius: 6px;
  margin: 5px 0;
  font-size: 1rem;
}
.dunir {
  background-color: #00c49f;
  width: 10%;
  padding: 4px 8px;
  text-align: center;
  border-radius: 6px;
  color: #333;
  font-size: 1rem;
  margin: 5px 0;
}
.kaelar {
  background-color: #ffbb28;
  width: 10%;
  padding: 4px 8px;
  text-align: center;
  border-radius: 6px;
  color: #333;
  font-size: 1rem;
  margin: 5px 0;
}
.renkai {
  background-color: #ff8042;
  width: 10%;
  padding: 4px 8px;
  text-align: center;
  border-radius: 6px;
  color: #333;
  font-size: 1rem;
  margin: 5px 0;
}
.vek {
  background-color: #f02c0e;
  width: 10%;
  padding: 4px 8px;
  text-align: center;
  border-radius: 6px;
  font-size: 1rem;
  margin: 5px 0;
}
.tulnar {
  background-color: #4eea21;
  width: 10%;
  padding: 4px 8px;
  text-align: center;
  border-radius: 6px;
  color: #333;
  font-size: 1rem;
  margin: 5px 0;
}
.empyrean {
  background-color: #450d23;
  width: 10%;
  padding: 4px 8px;
  text-align: center;
  border-radius: 6px;
  font-size: 1rem;
  margin: 5px 0;
}
.vaelune {
  background-color: #6d2ef4;
  width: 10%;
  padding: 4px 8px;
  text-align: center;
  border-radius: 6px;
  font-size: 1rem;
  margin: 5px 0;
}
.pyrai {
  background-color: #de50b0;
  width: 10%;
  padding: 4px 8px;
  text-align: center;
  border-radius: 6px;
  font-size: 1rem;
  margin: 5px 0;
}
