.container {
  overflow-x: hidden;
  background-color: tomato;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      180deg,
      rgb(0, 0, 0) 5%,
      rgba(27, 27, 34, 0.863) 66%,
      rgba(0, 0, 0, 0.596) 100%
    ),
    url('../assets/images/war.jpg');
  overflow-x: hidden;
  min-height: 100vh;
  background-size: cover;
}

.formBox {
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 5px;
  min-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  text-align: center;
  font-size: 0.9rem;
  display: block;
  margin: 1rem auto;
  max-width: 1000px;
  letter-spacing: 2px;
  color: rgb(22, 22, 22);
}
.input {
  display: block;
  margin: 1rem 0;
  font-size: 0.7rem;
  width: 50%;
  color: #333;
  border: 2px solid rgb(204, 155, 22);
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.356);
  padding: 10px;
  text-align: left;
  outline: none;
}
.buttonContainer {
  display: flex;
}
.button {
  font-size: 1rem;
  margin: 0.5rem 8px;
  letter-spacing: 2px;
  background-color: rgb(204, 155, 22);
  color: rgb(34, 34, 34);
  border: none;
  padding: 10px 20px;
  border-radius: 2px;
  outline: none;
  font-family: sans-serif;
  box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.116);
}

.button:hover {
  cursor: pointer;
  background-color: rgb(248, 190, 0);
}

.p {
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 1.7;
  max-width: 800px;
  color: rgb(12, 12, 12);
  text-align: justify;
  font-family: 'Source Sans Pro', sans-serif;
}

.p2 {
  font-size: 0.7rem;
  letter-spacing: 2px;
  margin: 10px 0px;
  max-width: 800px;
  color: rgb(8, 8, 8);
}

.h2 {
  font-size: 2rem;
  color: rgb(12, 11, 11);
  font-family: 'Cinzel Decorative', cursive;
}

.a {
  color: rgb(248, 190, 0);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
}

.select {
  width: 50%;
  font-size: 0.7rem;
  padding: 8px 16px;
  letter-spacing: 1px;
  color: #333;
  border: none;
  color: rgb(54, 54, 54);
  border: 2px solid rgb(204, 155, 22);
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.356);
  padding: 10px;
  text-align: left;
  outline: none;
}

.option {
  font-size: 0.5rem;
  color: #333;
}

.checkboxContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox {
  margin: 0px 15px;
}

.input2 {
  font-size: 0.5rem;
  height: 100px;
  text-align: justify;
  padding: 3px;
  border: none;
  color: rgb(54, 54, 54);
  border: 2px solid rgb(204, 155, 22);
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.356);
  padding: 10px;
  text-align: left;
  outline: none;
}
