.container {
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15vw;
  background-image: linear-gradient(
    rgb(22, 1, 1),
    rgb(43, 17, 17),
    rgb(44, 9, 9)
  );
  padding: 2rem 0;
  height: 100vh;
  border-right: 1px solid #000;
}

.main {
  padding: 10px 2rem;
  background-color: rgb(233, 230, 230);
  width: 85vw;
}
.text {
  color: #333;
}
.default {
  height: 150px;
  margin-bottom: 3rem;
}

.signOut {
  font-size: 1.2rem;
  background-color: rgb(1, 121, 121);
  border: none;
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  position: absolute;
  top: 90%;
  font-family: 'Cinzel Decorative', cursive;
}

.signOut:hover {
  background-color: rgb(1, 102, 102);
  cursor: pointer;
}
