* {
  font-family: 'Rye', cursive;
  color: #fff;
  font-size: 1.7rem;
  letter-spacing: 10px;
  font-weight: 400;
  text-align: center;
}

.container {
  height: 90vh;
  width: 100vw;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.headline {
  font-size: 1.8rem;
}

.video_container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
}

.video {
  width: 100vw;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.753), rgba(0, 0, 0, 0.651));
  z-index: -1;
}

.logo {
  height: 6rem;
  margin-top: 1rem;
}

.landing_container {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.h2 {
  font-size: 1.2rem;
  color: #222;
  font-family: sans-serif;
}
