.card {
  max-width: 350px;
  height: 500px;
  margin: 3rem 0;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  height: 120px;
  margin: 0 auto;
}

.title {
  font-family: 'Cinzel Decorative', cursive;
  text-align: center;
  font-size: 0.8rem;
  margin: 0.7rem;
  letter-spacing: 2px;
  color: rgb(204, 155, 22);
}
.paragraph {
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-align: LEFT;
  line-height: 1.5;
  color: #ccc;
  font-family: 'Source Sans Pro', sans-serif;
}

.hr {
  background-color: rgb(204, 155, 22);
  width: 20%;
  border: 1px solid rgb(204, 155, 22);
  border-radius: 5px;
  margin: 0.5rem auto;
}
