.box {
  color: #fff;
  height: 300px;
  width: 300px;
  background-image: linear-gradient(
      35deg,
      rgba(0, 0, 0, 0.849),
      rgba(49, 37, 58, 0.753)
    ),
    url('../assets/images/texture2.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 1.5rem;
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.288);
  color: #ccc;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.514);
  text-align: center;
}

.box:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.288);
}
