.container {
  height: 1.6rem;
  width: 100%;
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
}

.navlink {
  font-size: 0.5rem;
  font-family: sans-serif;
  text-decoration: none;
  text-shadow: none;
  color: #222;
  border-radius: 6px;
  height: 100%;
  text-align: right;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
}

.navlink:hover {
  background-color: rgba(0, 0, 0, 0.075);
  height: 100%;
}

.nav_container {
  max-width: 40%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
